.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 50px;
}

.button {
  background-color: rgb(75, 75, 75);
  color: rgb(243, 243, 243);
  border: none;
  cursor: pointer;
  margin: 5px 0px;
  padding: 7px 6px;
}
